body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.formulario {
  max-width: 600px;
  padding: 20px;
  position: absolute;
  top: 35%;
}

.input-group {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-grupo {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.input-grupo label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-grupo input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70px;
}

.input-grupo .expirate-date {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-grupo-ccv {
  flex: 1;
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  background-color: rgb(95, 1, 95);
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: x-large;
}

.input-exp-date {
  display: flex;
  align-items: center;
}


.input-exp-date input {
  margin-right: 10px;
}

.input-exp-date input[type="text"]:last-child {
  margin-right: 0; /* Eliminar el margen derecho del último input */
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 10px; /* Alinear el mensaje de error con el input MM */
}