* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative; /* Asegura que los elementos dentro tengan una referencia de posición */
}

.bg-card {
  width: 245px;
  height: 125px;
  border-radius: 5px;
}

.bg-card.back {
  position: absolute;
  top: 70%; /* Ajusta la posición verticalmente al centro del contenedor */
  left: 50%; /* Ajusta la posición horizontalmente al centro del contenedor */
  transform: translate(-50%, -50%);
}
.frontal {
  width: 245px;
  height: 125px;
  position: relative;
  top: 100%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.card.front {
  width: 245px;
  height: 125px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  position: absolute;
  top: 70%; /* Ajusta la posición verticalmente */
  left: 72%; /* Ajusta la posición horizontalmente */
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: lightgray;
}

.circulo {
  position: absolute;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  justify-self: start;
  align-self: center;
  margin-left: 12px;
}

.circulo.dos {
  position: absolute;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  justify-self: end;
  align-self: center;
}

.credit_card_number {
  font-size: 20px;
  color: lightgray;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  margin-left: 2px;
}

.nombre_fecha_expiracion {
  position: absolute;
  top: 115%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: lightgray;
  border: 1px solid black;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-between; /* Coloca los elementos <p> en los extremos */
  align-items: center; /* Alinea verticalmente los elementos <p> */
}

.nombre {
  position: absolute;
    font-size: 15px;
    color: lightgray;
    grid-row: 3 / 3;
    grid-column: 1 / 3;
    align-self: center;
    justify-self: start;
    margin-left: 12px;
}

.fecha_expiracion{
   position: absolute;
    font-size: 15px;
    color: lightgray;
    grid-row: 3 / 3;
    grid-column: 4;
    align-self: center;
    justify-self: start;
    margin-left: 12px; 
}